{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<div class="one-column">
{% if form.errors %}
    <ul class="system_messages">
        <li>{% trans "Some information was not submitted correctly. Please refer below for details." %}</li>
    </ul>
{% endif %}
<div class="grid_8 one-column">
    <h2>{% trans 'Password change' %}</h2>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Your old password" %}</legend>
            <p>{% trans "Please enter your old password, for security's sake." %}</p>        
            <p class="aligned wide">
                <label for="id_old_password">{% trans 'Old password:' %}</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </p>
            
        </fieldset>
        <fieldset>
            <legend>{% trans "Your new password" %}</legend>
            <p>{% trans "Enter your new password twice so we can verify you typed it in correctly." %}</p>
            <p class="aligned wide">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </p>
            <p class="aligned wide">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </p>
        </fieldset>
        <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
    </form>
</div>
</div>
{% endblock %}
