{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
<style type="text/css" media="screen">
	fieldset { border: 1px solid #eee; padding: 1em; margin-bottom: 1.5em; }
	legend { font-size: 1em; font-weight: bold; }
	
    label { width: 100px; float:left; }
	
    input[type=text],
    input[type=password] { width: 300px; }
</style>
{% endblock %}

{% block content %}
<div>
    <form method="post" action="">
        <h2>{% trans "Sign up" %}</h2>
        <p>{% trans "Fill out the form to below (all fields are required), and your account will be created; you'll be sent an email with instructions on how to finish your registration." %}</p>
        <p><strong>{% trans "We'll only use your email to send you signup instructions. We hate spam as much as you do." %}</strong></p>
        
        <fieldset>
            <legend>Terms of service</legend>
            <div class="fieldWrapper">
                {{ form.terms_of_service.errors }}        
                {{ form.terms_of_service.label_tag }}
                {{ form.terms_of_service }}
            </div>
        </fieldset>
        
        <fieldset>
            <legend>{% trans "About you" %}</legend>
            <div class="fieldWrapper">
                {{ form.first_name.errors }}        
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.last_name.errors }}        
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            {% comment %}
            <div class="fieldWrapper">
                {{ form.social_security_number.errors }}        
                {{ form.social_security_number.label_tag }}
                {{ form.social_security_number }}
            </div>
            {% endcomment %}
        </fieldset>
        {% comment %}
        <fieldset>
            <legend>{% trans "Address" %}</legend>
            <div class="fieldWrapper">
                {{ form.address1.errors }}        
                {{ form.address1.label_tag }}
                {{ form.address1 }}
            </div>
            <div class="fieldWrapper">
                {{ form.address2.errors }}        
                {{ form.address2.label_tag }}
                {{ form.address2 }}
            </div>
            <div class="fieldWrapper">
                {{ form.zip_code.errors }}        
                {{ form.zip_code.label_tag }}
                {{ form.zip_code }}
            </div>
            <div class="fieldWrapper">
                {{ form.city.errors }}        
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>
            <div class="fieldWrapper">
                {{ form.state.errors }}        
                {{ form.state.label_tag }}
                {{ form.state }}
            </div>
            <div class="fieldWrapper">
                {{ form.country.errors }}        
                {{ form.country.label_tag }}
                {{ form.country }}
            </div>
        </fieldset>
        {% endcomment %}
        {% comment %}
        <fieldset>
            <legend>{% trans "Email and phone" %}</legend>
            <p>{% trans "We will send you an activation link to your email, so you better make sure it's a valid email address." %}</p>
            <div class="fieldWrapper">
                {{ form.email.errors }}        
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.phone.errors }}        
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>
            <div class="fieldWrapper">
                {{ form.mobile.errors }}        
                {{ form.mobile.label_tag }}
                {{ form.mobile }}
            </div>
        </fieldset>
        {% endcomment %}        
        <fieldset>
            <legend>{% trans "Choose your username and password " %}</legend>
            <div class="fieldWrapper">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="fieldWrapper">
                {{ form.password1.errors }}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="fieldWrapper">
                {{ form.password2.errors }}            
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
        </fieldset>
        <fieldset>
            <legend>{% trans "Payment options" %}</legend>
            <div class="fieldWrapper">
                {{ form.payment_interval.errors }}
                {{ form.payment_interval.label_tag }}
                {{ form.payment_interval }}
            </div>
            <div class="fieldWrapper">
                {{ form.payment_method.errors }}
                {{ form.payment_method.label_tag }}
                {{ form.payment_method }}
            </div>
        </fieldset>
        <p class="submit"><input type="submit" value="{% trans "Register" %}" /></p>
    </form>
</div>
{% endblock %}
