{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "You just signed up" %}{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% endblock %}

{% block content %}
<div>
    <h2>{% trans "Check your email" %}</h2>
    <p>{% trans "An activation link has been sent to the email address you supplied, along with instructions for activating your account." %}</p>
</div>
{% endblock %}