{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem likesyou using "widget_likes_you" %}
<ul class="profiles">
{% for profile in likesyou %}
    <li class="profile-onlineMembers-info">
        <a href="/profile/view/{{ profile.slug }}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if profile.get_avatar %}
            {% thumbnail profile.user|if_safe:user "100x100" crop="center" as small_ava %}
            <img src="{{ small_ava.url }}" width="100" height="100">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_100.png" width="100" height="100">
            {% endthumbnail %}
            {% else %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_100.png" width="100" height="100">
            {% endif %}
            {% if profile.user.is_paid %}
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
        </a>
        <div class="info name">
            <a href="/profile/view/{{ profile.user.slug }}" class="name">
                <span class="name">{{ profile.user.username }}</span>
          
                <span class="online">
                    <!-- IE --> </span>
         
            </a>

        </div>
        <div class="location">{{ profile.location }}</div>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="ArrayPager">

       {% set_pagin pages numpag %}

    </ul>
</div>
