{% load static %}{% get_static_prefix as STATIC_PREFIX %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/widget.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/addanother.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/text_widget.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/remote.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}autocomplete_light/style.css" />
