
<div class="container simple ui-widget ui-widget-content"">
	<div class="header">
		<h3 class="title">New Members</h3>
		<a class="show-all11" href="{{ linktoall }}" >Show all »</a>
                
	</div>
         <div class="profiles">
        <div class="list-view endless_page_template">
         {% include "viewed/registered_widget.html" %}
        </div>
        </div>
</div>



