.ui-corner-all, .ui-corner-top, ui-corner-bottom{
}

.ui-dialog{
    border-radius:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border:5px solid #939393;
    background:#fff;
    overflow:inherit !important;
    padding:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ui-dialog .ui-dialog-titlebar{
    background:#fff;
    padding:0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px 10px;
    border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
    height:24px;
    width:24px;
    padding:0;
    margin:0;
    border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon{
    margin:5px 0 0 -5px;
    padding:0;
    border:0;
    /*background:url(../images/close_dialog_normal.png) top left no-repeat;*/
    background:transparent url(../images/general_sprite.png) no-repeat -606px -458px;
    height:24px;
    width:24px;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-focus,
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover{
    background:none;
    border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon{
    /*background:url(../images/close_dialog_hover.png) top left no-repeat;*/
    background:transparent url(../images/general_sprite.png) no-repeat -606px -384px;
    border:none;
}

.ui-dialog .ui-dialog-content{
    padding:5px 10px;
    font-size:12px;
    margin-top:-2px;
}

.ui-dialog .ui-dialog-buttonpane{
    padding:0 10px 10px;;
    border:none;
    text-align:center;
    margin:0;
    background:none;
}

.ui-dialog .ui-dialog-buttonpane button{
    float:none;
}
