#wrapper #guest-left-side
{
	background: white;
	border-radius: 5px;
	float: left;
	min-height: 776px;
	moz-border-radius: 5px;
	overflow: hidden;
	padding: 10px 10px 15px 10px;
	text-align: center;
	webkit-border-radius: 5px;
	width: 517px;
}
#guest-right-side
{
	float: right;
	overflow: hidden;
	text-align: center;
}
#wrapper #guest-left-side h2
{
	font-size: 24px;
	font-weight: bold;
}
#wrapper #guest-left-side h2 span
{
	color: #ec2282;
}
#wrapper #guest-left-side h3
{
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 20px 0;
}
#guest-right-side
{
	float: right;
	overflow: hidden;
	text-align: center;
}
#wrapper .right-side
{
	float: right;
	margin: 0 0 0 5px;
	width: 428px;
}
#wrapper .right-side .container
{
	margin-bottom: 10px;
}
#wrapper .right-side .container .ui-widget-content
{
	background: #fff url('/themes/xdating/images/box_generic_bg.png') bottom repeat-x;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 184px;
	moz-border-radius-bottomleft: 5px;
	moz-border-radius-bottomright: 5px;
	padding: 5px;
	padding-right: 0;
	webkit-border-bottom-left-radius: 5px;
	webkit-border-bottom-right-radius: 5px;
}
#wrapper .right-side .container ul.profiles
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#wrapper .right-side .container ul.profiles li
{
	float: left;
	height: 138px;
	margin-bottom: 8px;
	margin-right: 3px;
	overflow: hidden;
	width: 102px;
}
#wrapper .top-side ul.profiles
li
{
	float: left;
	margin-bottom: 8px;
	margin-right: 5px;
}
#wrapper .right-side .container ul.profiles li
a
{
	display: block;
	min-height: 100px;
	width: 100px;
}
#wrapper .right-side .container ul.profiles li
.name
{
	color: #ec2282;
	display: block;
	font-size: 12px;
	moz-transition-property: color 0.3s ease-out;
	o-transition: color 0.3s ease-out;
	text-align: center;
	webkit-transition: color 0.3s ease-out;
}
#wrapper .right-side .container ul.profiles li .name:hover
{
	color: #000;
}
#wrapper .right-side .container ul.profiles li
.info
{
	color: #aaa;
	font-size: 12px;
	font-weight: normal;
}
#wrapper .right-side .container ul.profiles li .info:hover
{
	color: #aaa;
}
#wrapper .right-side .container ul.profiles li
span.online
{
	background: url(/themes/xdating/images/general_sprite.png) no-repeat -606px -1578px;
	display: block;
	float: left;
	text-indent: -9999px;
}
#wrapper .right-side
.simple
{
	background: #fff url('/themes/xdating/images/box_generic_bg.png') bottom repeat-x;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-radius: 6px 6px 0 0;
	moz-border-radius: 6px 6px 0 0;
	moz-border-radius-bottomleft: 5px;
	moz-border-radius-bottomright: 5px;
	padding: 5px;
	padding-right: 0;
	webkit-border-bottom-left-radius: 5px;
	webkit-border-bottom-right-radius: 5px;
	webkit-border-top-left-radius: 6px;
	webkit-border-top-right-radius: 6px;
}
#wrapper .right-side .simple
.header
{
	height: 40px;
	line-height: 40px;
	width: 100%;
}
#wrapper .right-side .simple .header
h3.title
{
	float: left;
	font-size: 18px;
	margin: 10px
0 0 5px;
	margin-left: 5px;
	padding: 0;
	text-shadow: none;
}
#wrapper .right-side .show-all
{
	color: #000;
	float: right;
	font-size: 12px;
	font-weight: 700;
	margin-right: 10px;
	margin-top: 0;
	position: absolute;
	z-index: 100;
}
#wrapper .right-side .header .show-all
{
	position: relative;
}
#wrapper .right-side .tabs .show-all
{
	color: #b6b6b6;
	margin: -34px 0px 0px 350px;
	text-shadow: none;
}
#wrapper #youViewed .show-all
{
	float: left;
	margin-left: 140px;
}
#wrapper #matches .show-all
{
	float: left;
	margin-left: 140px;
}
#wrapper .right-side .non-registered
{
	height: 814px;
	min-height: 814px;
}
#wrapper.non-registered
{
	padding-bottom: 0px;
}
#wrapper.non-registered .right-side .container ul.profiles
li
{
	height: 121px;
}
#home-register-box
{
	background: white;
	border-radius: 5px;
	moz-border-radius: 5px;
	overflow: hidden;
	padding: 30px 40px 20px 40px;
	position: relative;
	webkit-border-radius: 5px;
}
#home-register-box #registerFormHome
{
	margin: auto;
	width: 310px;
}
.captcha-spacer
{
	clear: both;
	display: block;
	height: 25px;
	width: 100%;
}
#home-register-box #registerFormHome div.submit
{
	clear: left;
	height: 52px;
	overflow: hidden;
}
#home-online-members-box
{
	background: white;
	border-radius: 5px;
	height: 485px;
	margin: 5px 0 0 0;
	moz-border-radius: 5px;
	overflow: hidden;
	padding: 10px;
	webkit-border-radius: 5px;
}
#home-online-members-box h2
{
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0 15px 0;
}
#home-online-members-box .profiles
{
	line-height: 1.3;
	overflow: hidden;
}
.pagination
{
	clear: both;
	margin: 0 0 1px 0;
}
#home-register-box #registerFormHome label
{
	clear: left;
	float: left;
	text-align: left;
	width: 100px;
}
#home-register-box #registerFormHome p
{
	float: left;
}
#home-register-box #registerFormHome input.email-address, #home-register-box #registerFormHome input.password, #home-register-box #registerFormHome input.captcha-input-home
{
	border: 1px solid rgb(148, 148, 148);
	border-bottom-color: rgb(223, 223, 223);
	border-left-color: rgb(198, 198, 198);
	border-radius: 2px;
	border-right-color: rgb(198, 198, 198);
	font-size: 14px;
	height: 18px;
	moz-border-radius: 2px;
	webkit-border-radius: 2px;
	width: 190px;
}
#signinForm input.username, input.password
{
	padding: 6px 2px;
	width: 271px;
}
#registerForm input.email-address, input.password
{
	padding: 6px 2px;
	width: 271px;
}
#profile-search-form #searchContainer li select, input
{
	margin: 0 0 5px 0;
}
#home-register-box #registerFormHome input.email-address, #home-register-box #registerFormHome input.captcha-input-home
{
	padding: 6px 2px;
}
#home-register-box #registerFormHome input.email-address, #home-register-box #registerFormHome input.password, #home-register-box #registerFormHome input.captcha-input-home
{
	border: 1px solid rgb(148, 148, 148);
	border-bottom-color: rgb(223, 223, 223);
	border-left-color: rgb(198, 198, 198);
	border-radius: 2px;
	border-right-color: rgb(198, 198, 198);
	font-size: 14px;
	height: 18px;
	moz-border-radius: 2px;
	webkit-border-radius: 2px;
	width: 190px;
}
#profile-search-form #searchContainer li select, input
{
	margin: 0 0 5px 0;
}
#home-register-box #registerFormHome div.submit button
{
	background: url('/static/btn_tryforfree.png') no-repeat -10px -10px;
	border: none;
	box-shadow: none;
	float: left;
	height: 45px;
	margin-left: 100px;
	width: 140px;
}
#home-register-box button:active
{
	background: gradient( center top, rgb(59, 107, 19) 0%, rgb(74, 153, 18) 60%, rgb(87, 170, 28) 100% );
	background: -moz-linear-gradient( center top, rgb(59, 107, 19) 0%, rgb(74, 153, 18) 60%, rgb(87, 170, 28) 100% );
	background: rgb(231, 103, 0);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(59, 107, 19)), color-stop(0.6, rgb(74, 153, 18)), color-stop(1, rgb(87, 170, 28)) );
	border: 1px solid rgb(59, 107, 19);
	border-bottom: 1px solid rgb(59, 107, 19);
	border-top: 1px solid rgb(59, 107, 19);
	box-shadow: inset 0 3px 1px #315a0e;
	moz-box-shadow: inset 0 3px 1px #315a0e;
	position: relative;
	text-shadow: 0 1px 0 rgb(47, 90, 12);
	top: 1px;
	webkit-box-shadow: inset 0 3px 1px #315a0e;
}
#home-register-box #registerFormHome div.submit button:hover
{
	background: url('/static/btn_tryforfree.png') no-repeat -10px -60px;
}
#home-register-box button:hover
{
	background: gradient( center top, rgb(142, 211, 67) 0%, rgb(95, 179, 35) 100% );
	background: -moz-linear-gradient( center top, rgb(142, 211, 67) 0%, rgb(95, 179, 35) 100% );
	background: rgb(95, 179, 35);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(142, 211, 67)), color-stop(1, rgb(95, 179, 35)) );
	border: 1px solid rgb(93, 151, 44);
	border-bottom: 1px solid rgb(93, 151, 44);
	border-top: 1px solid rgb(93, 151, 44);
	box-shadow: inset 0 1px 0 #b4ea5d;
	cursor: pointer;
	moz-box-shadow: inset 0 1px 0 #b4ea5d;
	webkit-box-shadow: inset 0 1px 0 #b4ea5d;
}
#home-register-box button
{
	background: gradient( center top, rgb(132, 201, 56) 0%, rgb(86, 169, 27) 100% );
	background: -moz-linear-gradient( center top, rgb(132, 201, 56) 0%, rgb(86, 169, 27) 100% );
	background: rgb(86, 169, 27);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(132, 201, 56)), color-stop(1, rgb(86, 169, 27)) );
	border: 1px solid rgb(84, 141, 36);
	border-bottom: 1px solid rgb(84, 141, 36);
	border-radius: 20px;
	border-top: 1px solid rgb(84, 141, 36);
	box-shadow: inset 0 1px 0 #abe252;
	color: white;
	font-family: Helvetica,Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 700;
	height: 41px;
	line-height: 1px;
	moz-border-radius: 20px;
	moz-box-shadow: inset 0 1px 0 #abe252;
	padding: 0 20px;
	text-shadow: 0 -1px 0 rgb(94, 159, 28);
	webkit-border-radius: 20px;
	webkit-box-shadow: inset 0 1px 0 #abe252;
}
#home-register-box #registerFormHome div.submit button:active
{
	background: url('/static/btn_tryforfree.png') no-repeat -10px -110px;
}
#profile-search-form #searchContainer li select, input
{
	margin: 0 0 5px 0;
}
#home-register-box #registerFormHome label[for='id_tos'] {
    min-width: 200px
}
#home-register-box #registerFormHome p.agree a
{
	border-bottom: none;
	color: rgb(51, 51, 51);
	text-decoration: none;
}
#home-register-box #registerFormHome p.agree
{
	margin: 10px 0 5px 80px;
}
#home-register-box #registerFormHome p
{
	float: left;
}
#guest-left-side .profiles li {
    float: left;
    text-align: center;
    width: 33.3%;
    line-height: 1.3;
    min-height: 21em;
    margin-bottom: 10px;
    font-size: 12px;
}
.last {
    margin-right: 0;
    padding-right: 0;
}

button.white
{
	background: #ececec;
	background: gradient(center top,#fff 0%,#ececec 100%);
	background: -moz-linear-gradient(center top,#fff 0%,#ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ececec));
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
	border-top: 1px solid #ddd;
	box-shadow: inset 0 -1px 0 #fff;
	color: #333;
	font-family: Helvetica,Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: 28px;
	line-height: 1px;
	moz-border-radius: 5px;
	moz-box-shadow: inset 0 -1px 0 #fff;
	padding: 0 20px;
	text-shadow: 0 1px 0 #fff;
	webkit-border-radius: 5px;
	webkit-box-shadow: inset 0 -1px 0 #fff;
}
button.white:hover
{
	background: #f6f6f6;
	background: gradient(center top, #fff 0%, #f6f6f6 100%);
	background: -moz-linear-gradient(center top, #fff 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f6f6f6));
	cursor: pointer;
}
button.white:active
{
	background: #eaeaea;
	background: gradient(center top, #eaeaea 0%, #f8f8f8 100%);
	background: -moz-linear-gradient(center top, #eaeaea 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eaeaea), color-stop(1, #f8f8f8));
	border: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-shadow: inset 0 2px 1px #d4d4d4;
	moz-box-shadow: inset 0 2px 1px #d4d4d4;
	position: relative;
	top: 1px;
	webkit-box-shadow: inset 0 2px 1px #d4d4d4;
}

/* -------- */

#home-register-box #registerFormHome input .captcha-input-home
{
	border: 1px
    solid #949494;
	border-bottom-color: #dfdfdf;
	border-left-color: #c6c6c6;
	border-radius: 2px;
	border-right-color: #c6c6c6;
	font-size: 14px;
	height: 18px;
	moz-border-radius: 2px;
	webkit-border-radius: 2px;
	width: 190px;
}
#home-register-box #registerFormHome input.captcha-input-home
{
	float: left;
	margin-right: 5px;
	width: 70px !important;
}
#home-register-box #registerFormHome p.error-msg
{
	background: #FBE3E4;
	border: 2px
    solid #FBC2C4;
	color: #8a1f11;
	margin-bottom: 12px;
	padding: 4px;
	width: 185px;
}
#home-register-box #registerFormHome input.email-address,
#home-register-box #registerFormHome input.captcha-input-home
{
	padding: 6px
2px;
}
#home-register-box #registerFormHome .captcha-container
{
	margin-top: 10px;
}
#home-register-box #registerFormHome input.email-address:focus,
#home-register-box #registerFormHome input.password:focus,
#home-register-box #registerFormHome input.captcha-input-home:focus
{
	border-color: #ec2282;
}

.autocomplete-light-widget .deck [data-value] .remove {
    background-image: url('../admin/img/inline-delete.png');
    color: #0A0101;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-right: 10px;
    width: 15px;
}
