.viewEditProfile{
    padding:0;
    border-radius:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:0;
    overflow:inherit !important;
    padding:0px;
}

.viewEditProfile.ui-dialog{
    background:#000;
    margin-left:-5px;
    padding:5px 5px 0 5px;
}

.ui-widget-overlay
{
    background: #000000;
    opacity: 0.6;
    -moz-opacity:0.60;
    filter: alpha(opacity=60);
    width:100%;
    height:100%;
    position:absolute;
    z-index:500;
}

.viewEditProfile .ui-dialog-titlebar{
    padding:0;
    background:transparent;
    border:0;
    margin:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close{
    height:34px;
    width:34px;
    margin-right:-5px;
    margin-top:7px;
    border:none;
    padding:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon{
    /*background:url(../images/close_dialog.png) top left no-repeat;*/
    background:url(../images/general_sprite.png) no-repeat -606px -300px;
    width:34px;
    height:34px;
    margin:0;
    padding:0;
    border:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon{
    /*background:url(../images/close_dialog.png) top left no-repeat;*/
    background:url(../images/general_sprite.png) no-repeat -606px -300px;
    border:none;
}

.viewEditProfile .ui-corner-all{
    -moz-border-radius:0;
    border-radius:0;
    -webkit-border-radius:0;
}

.viewEditProfile .ui-dialog-content{
    padding:0;
}

.viewEditProfile .ui-dialog-content .ajax-loading{
    width:100px;
    height:100px;
    text-align:center;
    margin:auto;
    margin-top:30px;
}

.viewEditProfile .top{
    padding:5px;
    background: #fff;
    background:url("../images/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
    -webkit-border-radus: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
}

.viewEditProfile .top .short-info{
    margin-left:5px;
    margin-bottom:5px;
    height:33px;
}

.viewEditProfile .top .short-info .name{
    font-size:24px;
    /*color:#bea200;*/
    font-weight:700;
}

.viewEditProfile .top .short-info span{
    color:#000;
    font-size:18px;
    font-weight:700;
}

.viewEditProfile .top .short-info span.premium-member{
    background:url(../images/gold_member.png) center left no-repeat;
    padding-left:20px;
}

.viewEditProfile .top .short-info span.online{
    /*background:url(../images/online.png) left 3px no-repeat;*/
    background:url(../images/general_sprite.png) no-repeat -606px -1575px;
    padding-left:9px;
    margin-left:5px;
    vertical-align:-5px;
}

.viewEditProfile .top .short-info span.offline{
    background:url(../images/offline.png) left 3px no-repeat;
    padding-left:9px;
    margin-left:5px;
}

.viewEditProfile .top .general-info{
    overflow:hidden;
    min-height:370px;
}

.viewEditProfile .top .general-info .images{
    float:left;
    width:315px;
    height:315px;
    overflow:hidden;
    margin:0;
}

.viewEditProfile .top .general-info .images .list{
    overflow:hidden;
}

.viewEditProfile .top .general-info .images .list ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

.viewEditProfile .top .general-info .images .list ul li{
    float:left;
    margin:0 5px 5px 0;
    width:100px;
    height:100px;
}

.viewEditProfile .top .general-info .images .list ul li a.active{
    display:block;
    width:99px;
    height:99px;
}

.viewEditProfile .top .general-info .images .list ul li .delete{
    height:22px;
    margin-left:75px;
    margin-top:-98px;
    position:absolute;
    width:22px;
    display:none;
}

.viewEditProfile .top .general-info .images .pagination{
    margin-top:15px;
}

.viewEditProfile .top .general-info .primary{
    float:left;
    width:325px;
    margin:0 5px;
    overflow: hidden;
}

.viewEditProfile .top .general-info .primary .image{
    background:#000;
    height:310px;
    width:320px;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
    margin-bottom:5px;
}

.viewEditProfile .top .general-info .primary .image.edit-profile-Man{
    background:url(../images/no-photo-profile-man.png);
}
.viewEditProfile .top .general-info .primary .image.edit-profile-Woman{
    background:url(../images/no-photo-profile-woman.png);
}

/* Profile Photo Request */
#requestPhotoLink {
    padding:150px;
}

#requestPhotoLink span {
    display:none;
}

.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-Man{
    background:url(../images/photo_request_man.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-Woman{
    background:url(../images/photo_request_woman.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-sent-Man{
    background:url(../images/photo_request_man_sent.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-sent-Woman{
    background:url(../images/photo_request_woman_sent.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-pending-Man{
    background:url(../images/photo_request_man_pending.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-pending-Woman{
    background:url(../images/photo_request_woman_pending.png);
}


.viewEditProfile .top .general-info .primary .image a{
    display:block;
}

.viewEditProfile .top .general-info .primary .image img{
    vertical-align:middle;
    max-width:320px;
    border: none;
}

.viewEditProfile .top .general-info .primary .prev-next-links{
    position:absolute;
    width:320px;
    background:url(../images/pixel.gif);
    cursor:pointer;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area{
    height:310px;
    width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area a{
    display:none;
    text-indent:-9999px;
    height:310px;
    width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area{
    float:left;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area{
    float:right;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area a.prev-image{
    background:url(../images/fancy_nav_left.png) center left no-repeat;
    float:left;
    opacity:0.6;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area a.next-image {
    float:right;
    background:url(../images/fancy_nav_right.png) center right no-repeat;
    opacity:0.6;
}

.viewEditProfile .top .general-info .primary .actions {
    text-align:center;
    margin-top:5px;
}

.viewEditProfile .top .general-info .primary .actions {
    text-align:center;
    margin-top:5px;
}

.viewEditProfile .top .general-info .primary .actions .action-buttons {

}

.viewEditProfile .top .general-info .primary .actions input.upload {
    font-size:11px;
    margin:2px;
    min-height:20px;
    padding:2px 8px;
}

.viewEditProfile .top .general-info .primary .actions form {
    margin-top:18px;
}

.viewEditProfile .top .general-info .primary .actions button {
    font-size: 16px;
    min-width: 120px;
    min-height:32px;
}

.viewEditProfile .top .general-info .primary .actions button span.middle-button {
    background:url("../images/btn_bg_match.png") repeat-x scroll left top transparent;
    color:#FFFFFF;
    font-size:17px;
    font-weight:700;
    height:24px;
    margin:0;
    padding:8px 8px 8px;
    text-shadow:0 -1px #A2004C;
    display:inline-block;
    float:left;
    min-width:80px;
}

.viewEditProfile .top .general-info .primary .actions button span.start-button {
    /*background:url("../images/btn_corner_left_match.png") no-repeat scroll left top transparent;*/
    background:url("../images/general_sprite.png") no-repeat 0 -109px;
    width:14px;
    height:40px;
    display:inline-block;
    float:left;
}

.viewEditProfile .top .general-info .primary .actions button span.end-button {
    /*background:url("../images/btn_corner_right_match.png") no-repeat scroll left top transparent;*/
    background:url("../images/general_sprite.png") no-repeat 0 -199px;
    width:14px;
    height:40px;
    display:inline-block;
    float:left;
}

.viewEditProfile .top .general-info .primary .actions span.success {
    color:#F80072;
    font-size:18px;
    position: relative;
    margin:15px 0 9px 0;
    display: block;
}

.viewEditProfile .top .general-info .location{
    float:left;
    width:300px;
    height:315px;
    margin-left:0 0 0 5px;
}

.viewEditProfile .top .general-info .location .map{
    width:300px;
    height:310px;
    margin-bottom:5px;
}

.viewEditProfile .top .general-info .location .edit{
    text-align:center;
    font-size: 12px;
    margin-top: 20px;
}

.viewEditProfile .top .general-info .location .edit #locationInfo {
    line-height: 1.2;
    font-size:13px;
}

.viewEditProfile .top .general-info .location .edit #NewCityBox {
    margin-top:-10px;
}

.viewEditProfile .top .general-info .location .edit input {
    min-height:20px;
    font-size: 11px;
    padding: 2px 8px;
    margin:2px;
}

.viewEditProfile .top .general-info .location .edit input.ac_input {
    width:150px;
    min-height:15px;
    font-size: 13px;
}

.viewEditProfile .top .general-info .location .edit .details{

}

.viewEditProfile .top .general-info .location .edit .details span {
    font-weight:700;
    font-size:11px;
}

.viewEditProfile .top .general-info .emailUpload {
    clear:both;
    text-align:center;
}

.viewEditProfile .middle{
    padding:10px 0 0 0;
}

.viewEditProfile .middle .left{
    float:left;
    width:648px;
}

.viewEditProfile .ui-tabs-panel{
    overflow:hidden;
}

#profileUpdates{
    padding:15px;
    background:url("../images/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
    min-height:415px;
}

#editMySettings{
    padding:15px;
    min-height:415px;
}

.viewEditProfile .messages-list .message{
    /*width:534px;*/
}

.viewEditProfile .middle .personal-info{
    width:312px;
    float:right;
    overflow:hidden;
    text-shadow:none;
}

/*
.viewEditProfile.ui-dialog .middle .personal-info{
    width:312px;
}
*/

.viewEditProfile .middle .personal-info #personalInfo{
    text-shadow:none;
    background:url("../images/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
    min-height:444px;
}

.viewEditProfile .middle .personal-info .description{
    padding:10px;
    font-size:12px;
    border-bottom:1px solid #d8d8d8;
}

.viewEditProfile .middle .personal-info .description p{
    margin:0;
    padding:0;
    text-align:justify;
}

.viewEditProfile .middle .personal-info .description a{
    font-weight:700;
}

.viewEditProfile .middle .personal-info .description .clearboth{
    display:inline;
}

.viewEditProfile .middle .personal-info .list{
    border-bottom:1px solid #d8d8d8;
    padding:10px;
    font-size:12px;
    overflow:hidden;
}

.viewEditProfile .middle .personal-info .list dl{
    width:100%;
    margin:0;
    padding:0;
    clear:both;
}

.viewEditProfile .middle .personal-info .list dl dt{
    font-weight:700;
    float:left;
    width:40%;
    font-weight:700;
    margin:0;
    padding:0;
    margin-bottom:10px;
    clear:both;
}

.viewEditProfile .middle .personal-info .list dl dd{
    float:right;
    text-align:right;
    margin:0;
    padding:0;
    margin-bottom:10px;
}

.viewEditProfile .middle .personal-info .list dl dd.highlight{
    color:#55bb22;
    font-weight:700;
}

.viewEditProfile .middle .personal-info .list.last{
    border:none;
}

span.ui-dialog-title {
    display:none;
}

#safe-mode-chk {
    float: right;
    font-size: 14px;
    cursor: pointer;
    margin: 8px 10px 0 0;
}

#safe-mode-chk label {
    cursor: pointer;
}

#safe-mode-chk label span.hidden {
    display: none;
}

#safe-mode-chk label span.on {
    background:url("../images/checkbox_on.png") no-repeat right center;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    color: #ec228d;
}

#safe-mode-chk label span.off {
    background:url("../images/checkbox_off.png") no-repeat right center;
    padding: 0 15px 0 0;
    text-transform: uppercase;
    color: #c4c4c4;
}

#safe-mode-chk input {
    margin: 0 0 0 5px;
    padding: 3px 0 0 0;
    cursor: pointer;
    display: none;
}
