{% extends "base.html" %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="left-side">
	<div class="tabs">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li id="big-tab-dashboard-updates" class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				<a href="#updates">Updates</a>
			</li>
			<li id="big-tab-dashboard-messages" class="ui-state-default ui-corner-top ui-state-inactive">
				<a href="#messages" data-update="/event/updateLastViewedMessagesTab">Messages								</a>
			</li>
			<li id="mutual-likes-tab" class="ui-state-default ui-corner-top ui-state-inactive">
				<a href="#mutual-likes" data-update="/event/updateLastViewedMatchesTab">Matches								</a>
			</li>
		</ul>
		<div id="updates" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
			<div class="updates-list">
				<ul id="dashboard-updates-list">
			<li class="write">
				<div class="image">
					<img src="http://images.xdating.com/internal/no_photo_man_48.png" width="48" height="48">
									</div>
				<div class="message update-input">
					<textarea title="Write something..." style="resize: none; overflow-y: hidden; position: absolute; top: 0px; left: -9999px; height: 33px; width: 420px; line-height: normal; text-decoration: initial; letter-spacing: normal;" tabindex="-1">Write something...</textarea><textarea id="messageBody" title="Write something..." style="resize: none; overflow-y: hidden;">Write something...</textarea>
				</div>
				<div class="message-footer update-input-footer">
				</div>
				<div class="other">
					<button class="btn disabled" id="sendUpdate" disabled="disabled">Send</button>
				</div>
				<div class="left-chars-counter">
					140				</div>
				<div class="clear"></div>
			</li>



<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/3a71549e8b4057ea7bb78ab4d37864f4" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/3a71549e8b4057ea7bb78ab4d37864f4" class="popup viewProfile">
				<span class="name">
					111THAT2HOt				</span>
			</a>
						<span class="when">
				14 minutes ago			</span>
		</div>
		<div class="content">
I SO wanna be Roller Girl when I grow up! ;)		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/ecfdc00fab83b7b7527bb2b07debfa07" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_hardcore_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/ecfdc00fab83b7b7527bb2b07debfa07" class="popup viewProfile">
				<span class="name">
					PRETTYPUSSY39				</span>
			</a>
						<span class="when">
				22 minutes ago			</span>
		</div>
		<div class="content">
let me squirt all on your dick		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/11c6f554bf908adc060b4249b7030a13" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/11c6f554bf908adc060b4249b7030a13" class="popup viewProfile">
				<span class="name">
					FuckDoll1				</span>
			</a>
						<span class="when">
				33 minutes ago			</span>
		</div>
		<div class="content">
oooh Hellloooo there.		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
                    <img src="http://images.xdating.com/876567de378fcd3388c2e42e4b965f6b.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
				<span class="name">
					mwhite				</span>
			</a>
						<span class="when">
				39 minutes ago			</span>
		</div>
		<div class="content">
Uploaded a new picture!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/49d67eab5588a34cdad3d41767a9c44f" class="popup viewProfile">
                    <img src="http://images.xdating.com/240d247f72a9c03899d41e358c8d8da4.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/49d67eab5588a34cdad3d41767a9c44f" class="popup viewProfile">
				<span class="name">
					69anytime				</span>
			</a>
						<span class="when">
				56 minutes ago			</span>
		</div>
		<div class="content">
Hey you, no, not you, no, no, YOU. hehe		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/5689549301d2a1a03d7b78d293f20e32" class="popup viewProfile">
                    <img src="http://images.xdating.com/7fd0ddcb269624496b627b7cc1a959d4.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/5689549301d2a1a03d7b78d293f20e32" class="popup viewProfile">
				<span class="name">
					unouwantme66				</span>
			</a>
						<span class="when">
				1 hour ago			</span>
		</div>
		<div class="content">
A few weeks ago I broke my Valentino glasses, this morning my Dolce&amp;Gabbana sunglasses broke. I just hope my Diors last		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/b5908ff0a84bfae2fbe262e33497d687" class="popup viewProfile">
                    <img src="http://images.xdating.com/7266a793143f4f55afafba4c1ae084f6.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/b5908ff0a84bfae2fbe262e33497d687" class="popup viewProfile">
				<span class="name">
					jshortcake				</span>
			</a>
						<span class="when">
				1 hour ago			</span>
		</div>
		<div class="content">
Never drinking again. Stupid swollen &amp; bruised knee.		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/330f4fcea45c7a9a90ecc26bda8d2a1f" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/330f4fcea45c7a9a90ecc26bda8d2a1f" class="popup viewProfile">
				<span class="name">
					bekind432				</span>
			</a>
						<span class="when">
				1 hour ago			</span>
		</div>
		<div class="content">
Frogs need not apply; just prince's		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/4255365e142cf6c859f0e79052b6b4a3" class="popup viewProfile">
                    <img src="http://images.xdating.com/be96074e6f363c05e33e19565eef25c6.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/4255365e142cf6c859f0e79052b6b4a3" class="popup viewProfile">
				<span class="name">
					cindychi6				</span>
			</a>
						<span class="when">
				1 hour ago			</span>
		</div>
		<div class="content">
Uploaded 5 new pictures!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/974106bbd42bac31a9eb6ab33ce57651" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/974106bbd42bac31a9eb6ab33ce57651" class="popup viewProfile">
				<span class="name">
					dekonte5				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Feather in the Breeze Seeks Strong Wind		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
                    <img src="http://images.xdating.com/876567de378fcd3388c2e42e4b965f6b.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
				<span class="name">
					mwhite				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Uploaded 2 new pictures!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-4">
	<div class="image">
		<a href="/profile/view/id/fc6bf4ec4909b01b3bc1a6d1ede8804e" class="popup viewProfile">
                    <img src="http://images.xdating.com/f21d9f739787dacb412890436a7495f9.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/fc6bf4ec4909b01b3bc1a6d1ede8804e" class="popup viewProfile">
				<span class="name">
					vonnie60				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Changed her profile picture!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/f5841bcfdecd6f2cdec2d3ce938774ee" class="popup viewProfile">
                    <img src="http://images.xdating.com/6f6b625fba6ca8ddc35f3ba5408946b4.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/f5841bcfdecd6f2cdec2d3ce938774ee" class="popup viewProfile">
				<span class="name">
					chalynjo				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Uploaded a new picture!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/bace2a77d52b1e26ef0927e2f85e3dee" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/bace2a77d52b1e26ef0927e2f85e3dee" class="popup viewProfile">
				<span class="name">
					LENASMITH				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Unzip my body, take my heart out.		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
                    <img src="http://images.xdating.com/34bc0ea9c7877d955ec91fa49e5fef6c.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
				<span class="name">
					sassylove				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
to all of those that dnt have pix get some please
		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
                    <img src="http://images.xdating.com/34bc0ea9c7877d955ec91fa49e5fef6c.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
				<span class="name">
					sassylove				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
to all the sexy brothers out there what's up get at me		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/3b8537b757ef627caee80083307aee45" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/3b8537b757ef627caee80083307aee45" class="popup viewProfile">
				<span class="name">
					4USue1976				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
AHHhhhhh		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-4">
	<div class="image">
		<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
                    <img src="http://images.xdating.com/876567de378fcd3388c2e42e4b965f6b.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/89b299dc0a9938bef8af660642627dfd" class="popup viewProfile">
				<span class="name">
					mwhite				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Changed her profile picture!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/35ef51a2ebd73acc305912e927bffae2" class="popup viewProfile">
                    <img src="http://images.xdating.com/2b25fa9080c6aba9a3029432c1977f82.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/35ef51a2ebd73acc305912e927bffae2" class="popup viewProfile">
				<span class="name">
					onlyneedhonesty				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Uploaded a new picture!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-3">
	<div class="image">
		<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
                    <img src="http://images.xdating.com/34bc0ea9c7877d955ec91fa49e5fef6c.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/79eca9f18f5d37561080337019d61dc5" class="popup viewProfile">
				<span class="name">
					sassylove				</span>
			</a>
						<span class="when">
				2 hours ago			</span>
		</div>
		<div class="content">
Uploaded 2 new pictures!		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/a99685bf111577c18fcc5377c7e092c5" class="popup viewProfile">
                    <img src="http://images.xdating.com/10edd26a9b8d5a2b1436bb7c241d09ef.jpg" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/a99685bf111577c18fcc5377c7e092c5" class="popup viewProfile">
				<span class="name">
					kblues05				</span>
			</a>
						<span class="when">
				3 hours ago			</span>
		</div>
		<div class="content">
Drinking cider from a lemon, lemon, lemon, lemon...		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


<li class="update-type-1">
	<div class="image">
		<a href="/profile/view/id/183a02f7868ff44e479972af0bf36210" class="popup viewProfile">
                    <img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_48.png" width="48" height="48">
					</a>
	</div>
	<div class="message">
		<div class="header">
			<a href="/profile/view/id/183a02f7868ff44e479972af0bf36210" class="popup viewProfile">
				<span class="name">
					d1rtixxbb77c937				</span>
			</a>
						<span class="when">
				3 hours ago			</span>
		</div>
		<div class="content">
bribe me with candy....		</div>
	</div>
	<div class="message-footer">
	</div>
</li>


				<li class="show-more-messages">
			<a id="showMoreUpdatesDashboard" href="/userUpdate/moreUpdatesDashboard" rel="2">
				<span>
					Show More				</span>
			</a>
		</li>
		</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="messages" class="ui-tabs-hide ui-tabs-panel ui-widget-content ui-corner-bottom">
			<div class="messages-list">
				<ul id="dashboard-messages-list">
<li>
		<div class="image">
		<a href="/profile/view/id/714b1db02fb3c04ec97eb7e8ea8dbdae#privateMessage" class="popup viewProfile">
						<img src="http://images.xdating.com/8fb194b5e85e07468719e920260108dc.jpg">
			<span class="premium"><!-- IE --></span>		</a>
	</div>

	<div class="message dashboard">
		<div class="header">
			<a href="/profile/view/id/714b1db02fb3c04ec97eb7e8ea8dbdae#privateMessage" class="popup viewProfile">
				<span class="name">
					champersbaby				</span>
			</a>
			<span class="info">
				24,
				W,
									Kharkiv, K.., UA							</span>
			<a class="delete" href="/message/hide/messageId/246516238">Delete</a>
			<span class="when">
				19 hours ago			</span>
		</div>
		<div class="content  ">
			Hey adsadss35,  I noticed you live in Kharkiv so I wanted to drop you a line. I was horny and browsing when I came across your profile. I like the fact that you are 27 because I am 24...for me that's the age I'm searchin...			<a href="/profile/view/id/714b1db02fb3c04ec97eb7e8ea8dbdae#privateMessage" class="popup viewProfile message-read-more">Read message »</a>
					</div>
	</div>
	<div class="message-footer ">
	</div>
</li>

<li>
		<div class="image">
		<a href="/profile/view/id/f3c3e222cd4ecdd2b7d370c02c3510a6#privateMessage" class="popup viewProfile">
						<img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_100.png">
			<span class="premium"><!-- IE --></span>		</a>
	</div>

	<div class="message dashboard">
		<div class="header">
			<a href="/profile/view/id/f3c3e222cd4ecdd2b7d370c02c3510a6#privateMessage" class="popup viewProfile">
				<span class="name">
					AlexxahGirl				</span>
			</a>
			<span class="info">
				25,
				W,
									Derhachi, .., UA							</span>
			<a class="delete" href="/message/hide/messageId/246503955">Delete</a>
			<span class="when">
				19 hours ago			</span>
		</div>
		<div class="content  ">
				AlexxahGirl requested a photo of you.			<a href="/profile/view/id/f3c3e222cd4ecdd2b7d370c02c3510a6#privateMessage" class="popup viewProfile message-read-more">Read message »</a>
					</div>
	</div>
	<div class="message-footer ">
	</div>
</li>

<li>
		<div class="image">
		<a href="/profile/view/id/54afa07757c0a07563e1ea079ab71974#privateMessage" class="popup viewProfile">
						<img src="http://images.xdating.com/5d9a84dc8868199d9152c0f1e454696b.jpg">
			<span class="premium"><!-- IE --></span>		</a>
	</div>

	<div class="message dashboard">
		<div class="header">
			<a href="/profile/view/id/54afa07757c0a07563e1ea079ab71974#privateMessage" class="popup viewProfile">
				<span class="name">
					Jessica				</span>
			</a>
			<span class="info">
				24,
				W,
									Los Angele.., US							</span>
			<a class="delete" href="/message/hide/messageId/246478779">Delete</a>
			<span class="when">
				21 hours ago			</span>
		</div>
		<div class="content ww-content ">
			<h2>Welcome!</h2>
<br>			<a href="/profile/view/id/54afa07757c0a07563e1ea079ab71974#privateMessage" class="popup viewProfile message-read-more">Read message »</a>
					</div>
	</div>
	<div class="message-footer ">
	</div>
</li>
</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="mutual-likes" class="ui-tabs-hide ui-tabs-panel ui-widget-content ui-corner-bottom">
			<a href="/userList/likes#matches-all" class="show-all">Show all »</a>
			<div class="matches-list">
				<ul id="dashboard-matches-list"><li class="no-matches">
	<p class="no-matches-message">You have no matches yet.</p>
	<p class="no-matches-info-text">Start liking users now and if they like you back you will become a match.</p>
	<p class="no-matches-search-link"><a href="/search" title="Start your search now!">Search for your first match!</a></p>
	<p class="no-matches-dashboard-photo-female"><!-- IE --></p>
</li></ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="right-side">

	<div class="container simple">
	<div class="header">
		<h3 class="title">Online Now</h3>
		<a href="/userList/online" class="show-all">Show all »</a>
	</div>
	<div class="profiles" id="onlineNowContainer"><div id="onlineNowWidget" class="list-view">
<ul class="profiles">

<li class="">
	<a href="/profile/view/id/1bb618d40262dc704662c33fc0c785b5" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			Elegantsuz...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Bismarck, ..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/64369deb985e291c984f8dd29618f9c7" class="popup viewProfile">
					<img src="http://images.xdating.com/d030384ad1aa57e687d99b94aca3ab75.jpg" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			VikkiSweet	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Chattanoog..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/7926df2fe2dc33a26bf432feb3d37bbe" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			NastyGirl1...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Covington,..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/529c8cfb82718a3a0611831e7d498c83" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			GoldenBeau...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Palm Beach..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/677705fdd5f6579d6b93923581093c19" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			CaringLady...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Young Amer..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/1b2cb6bda254d63f52106c1b358d7bdb" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_hardcore_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			KamilaSupe...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Boring, Or..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/0d4df6a906b1f9bd3d360e10ff08e9c5" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			sweetkitty...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Aurora, Co..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/b21ab5cb131d324f58d9a73c7e559914" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_explicit_woman_100.png" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			loveeuphor...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Las Vegas,..., US	</div>
</li>
</ul>
<div class="clear"></div>
<div class="pagination"><ul class="" id="onlineNowPager"><li class="first hidden"><a href="/widget/onlineNow"></a></li>
<li class="previous hidden"><a href="/widget/onlineNow">Prev</a></li>
<li class="page selected"><a href="/widget/onlineNow">1</a></li>
<li class="page"><a href="/widget/onlineNow/OnlineProvider_page/2">2</a></li>
<li class="page"><a href="/widget/onlineNow/OnlineProvider_page/3">3</a></li>
<li class="page"><a href="/widget/onlineNow/OnlineProvider_page/4">4</a></li>
<li class="page"><a href="/widget/onlineNow/OnlineProvider_page/5">5</a></li>
<li class="next"><a href="/widget/onlineNow/OnlineProvider_page/2">Next</a></li>
<li class="last"><a href="/widget/onlineNow/OnlineProvider_page/13"></a></li></ul></div><div class="keys" style="display:none" title="/widget/onlineNow"><span>3175253</span><span>3118525</span><span>3127343</span><span>3156236</span><span>3165878</span><span>3294052</span><span>3165489</span><span>3233421</span></div>
</div>
</div>
</div>

<div class="container simple">
	<div class="header">
		<h3 class="title">New Members</h3>
		<a href="/userList/newMembers" class="show-all">Show all »</a>
	</div>
	<div class="profiles" id="newMembersContainer"><div id="newMembersWidget" class="list-view">
<ul class="profiles">

<li class="">
	<a href="/profile/view/id/4192c7f4e8d78680cbae62a011b105c7" class="popup viewProfile">
					<img src="http://images.xdating.com/86bfdc8ca27b9d0495b329e079d5d95e.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			cindychi6	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Riverton, ..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/6ef92e37e80cf57820d25c86ddc8d79e" class="popup viewProfile">
					<img src="http://images.xdating.com/eab1db364f30a64856d45ffb0e76b91c.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			sassylove	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Arlington,..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/1e72ef7bfbc87d1160cb2d43b494ccdf" class="popup viewProfile">
					<img src="http://images.xdating.com/d2c2ec61a5a65bd291e90aa6a572e178.jpg" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			amandaB	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Ashland, K..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/a566cf696c09d276cdf998c4931faabb" class="popup viewProfile">
					<img src="http://images.xdating.com/a6f61ff15ae2264a1d28daa317da2d78.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			candy2plea...	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Sydney, Ne..., AU	</div>
</li>

<li class="">
	<a href="/profile/view/id/46378495c9e1ee28bd1e546bc12ff3f5" class="popup viewProfile">
					<img src="http://images.xdating.com/09404a48c6265326d31f1ac52730cc9c.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			Toxicwaste	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Prescott, ..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/38e8c302e3a586bc9f5f6efe7f35cca7" class="popup viewProfile">
					<img src="http://images.xdating.com/internal/no_photo_safe_sexual_woman_100.png" width="100" height="100">
		<span><!-- IE --></span>		<div class="name">
			JassiePooh	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Kansas Cit..., US	</div>
</li>

<li class="">
	<a href="/profile/view/id/70dbf32da840a9a10297c70f8ba3c79e" class="popup viewProfile">
					<img src="http://images.xdating.com/2c835c030421357f9823ff654d298516.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			brown18626	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Sarasota, ..., US	</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
</ul>
<div class="clear"></div>
<div class="pagination"><ul class="" id="newMembersPager"><li class="first hidden"><a href="/widget/newMembers"></a></li>
<li class="previous hidden"><a href="/widget/newMembers">Prev</a></li>
<li class="page selected"><a href="/widget/newMembers">1</a></li>
<li class="page"><a href="/widget/newMembers/NewMembersProvider_page/2">2</a></li>
<li class="page"><a href="/widget/newMembers/NewMembersProvider_page/3">3</a></li>
<li class="page"><a href="/widget/newMembers/NewMembersProvider_page/4">4</a></li>
<li class="page"><a href="/widget/newMembers/NewMembersProvider_page/5">5</a></li>
<li class="next"><a href="/widget/newMembers/NewMembersProvider_page/2">Next</a></li>
<li class="last"><a href="/widget/newMembers/NewMembersProvider_page/13"></a></li></ul></div><div class="keys" style="display:none" title="/widget/newMembers"><span>4829783</span><span>4829594</span><span>4829015</span><span>4828802</span><span>4828724</span><span>4828266</span><span>4827955</span><span>4827955</span></div>
</div>
</div>
</div>
	<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="profileViewPanel">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="small-tab-left ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				<a href="#youViewed">You Viewed</a>
			</li>
			<li class="small-tab-right ui-state-default ui-corner-top">
				<a href="#ui-tabs-1" data-update="/event/updateViewedYouTabTime">Viewed You									<span class="new">9</span>
								</a>
			</li>
		</ul>
		<div id="youViewed" class="ui-tabs-panel ui-widget-content ui-corner-bottom"><a href="/userList/visits#youViewed-all" class="show-all">Show all »</a>
<div id="youViewedWidget" class="list-view">
<ul class="profiles">

<li class="">
	<a href="/profile/view/id/982dd4e61fd94c3d1b0efe12518fbb5e" class="popup viewProfile">
					<img src="http://images.xdating.com/8fb194b5e85e07468719e920260108dc.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			champersba...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Kharkiv, K..., UA	</div>
</li>

<li class="">
	<a href="/profile/view/id/fa31a5bfe0da1f4dd44c642d7193e821" class="popup viewProfile">
					<img src="http://images.xdating.com/e392c5154561fc72267684edd10abe4e.jpg" width="100" height="100">
		<span class="premium"><!-- IE --></span>		<div class="name">
			unouwantme...	<span class="online"><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Walsall, S..., GB	</div>
</li>

<li class="">
	<a href="/profile/view/id/ab5bfa54a5936b73dce2a98d62788ae9" class="popup viewProfile">
					<img src="http://images.xdating.com/5d9a84dc8868199d9152c0f1e454696b.jpg" width="100" height="100">
			<span class="premium"><!-- IE --></span>
		<div class="name">
			Jessica	<span><!-- IE --></span>
		</div>
	</a>
	<div class="info name">
		Los Angele..., US	</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
</ul>
<div class="clear"></div>
<div class="pagination"><ul class="" id="ArrayPager"><li class="first hidden"><a href="/widget/youViewed"></a></li>
<li class="previous hidden"><a href="/widget/youViewed">Prev</a></li>
<li class="page selected"><a href="/widget/youViewed">1</a></li>
<li class="next hidden"><a href="/widget/youViewed">Next</a></li>
<li class="last hidden"><a href="/widget/youViewed"></a></li></ul></div><div class="keys" style="display:none" title="/widget/youViewed"><span>745394166</span><span>745339705</span><span>744031413</span></div>
</div>
</div>
                <div id="ui-tabs-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
			<div class="widget-loading"><!-- IE --></div>
		</div>
	</div>
	<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="matchesPanel">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="small-tab-left ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				<a href="#matches">You Like</a>
			</li>
			<li class="small-tab-right ui-state-default ui-corner-top">
				<a href="#ui-tabs-2" data-update="/event/updateLastViewedRequestsTab">Likes You									<span class="new">2</span>
								</a>
			</li>
		</ul>
		<div id="matches" class="ui-tabs-panel ui-widget-content ui-corner-bottom"><a href="/userList/likes#requested-all" class="show-all">Show all »</a>
<div id="youLikeWidget" class="list-view">
<ul class="profiles">
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
<li class="">
	<a href="#">
		<img src="http://images.xdating.com/internal/no_photo_100.png" width="100" height="100">
		<div class="name">&nbsp;</div>
	</a>
	<div class="name info">&nbsp;</div>
</li>
</ul>
<div class="clear"></div>
<div class="pagination"><ul class="" id="ArrayPager"><li class="first hidden"><a href="/widget/youLike"></a></li>
<li class="previous hidden"><a href="/widget/youLike">Prev</a></li>
<li class="page disabled">1</li>
<li class="next hidden"><a href="/widget/youLike">Next</a></li>
<li class="last hidden"><a href="/widget/youLike"></a></li></ul></div><div class="keys" style="display:none" title="/widget/youLike"></div>
</div>
</div>
                <div id="ui-tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
			<div class="widget-loading"><!-- IE --></div>
		</div>
	</div>
		<div class="clear"></div>
</div>

<div class="clear"></div>

{% endblock %}
