{% load endless %}
{% load statis_pagin %}
{% load thumbnail %}
<ul class="profiles list-view-all search-result-list">
{% comment %}
AJAX PAGINATION IS HERE
{% endcomment %}
{% paginate num users %}
{% for user in users %}
    <li class="profile-search-info last">
        <div class="short-info">
            <span>
                <!-- IE --> </span>
            <a href="{% url view_profile slug=user.slug %}" class="popup">
                <span class="name">{{ user.name }}</span
                            </a>
                <span>{{ user.my_age }}, {{ user.get_gender_display|capfirst }}</span>
                <a href="#linkToPictures">
                    <span class="no-pictures">1</span>
                </a>
            </div>
            <div class="image">
                <a href="{% url view_profile slug=user.slug %}" class="popup">
                    <span>
                        <!-- IE --> </span>
                    {% thumbnail image.src "150x150" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
                    <img src="http://images.xdating.com/internal/no_photo_{{ user.get_gender_display|lower }}_150.png" width="150" height="150">
                    {% endthumbnail %}
                    {% comment %}
                    <img src="http://images.xdating.com/ffe0ceefedf5a8ecc2659282466bf5dd.jpg" width="150" height="150">
                    {% endcomment %}
                    <span>
                        <!-- IE --> </span>
                </a>
            </div>
            <div class="location">{{ user.location }}</div>
        </li>
{% endfor %}
</ul>
<div class="clear"></div>

<div class="pagination">
{% get_pages %}
    <ul class >
    {% set_pagin pages 4 %}
    </ul>
</div>