<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
                <title>Billing - XDating.com</title>

		<link rel="shortcut icon" href="{{ STATIC_PREFIX }}favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="{{ STATIC_PREFIX }}favicon.ico" type="image/x-icon"/>
{% block css %}
		<link rel="stylesheet" href="{{ STATIC_PREFIX }}billing.css" type="text/css" media="screen, projection" />
{% endblock css %}
    </head>
    <body>
        <div id="upgrade_header">
	    <div class="logo"><a href="/datingCenter">XDating.com</a></div>
	    <div class="top_warn">To continue, you must become a Premium Member</div>
	    <div class="back_to"><a href="/datingCenter">&laquo; Back to Dating Center</a></div>
        </div>
        <div id="upgrade_wrap">
	<div class="arrow"></div>
	<div class="best_value"></div>
	<div class="descr">
		<h1 class="upgrade_today">{{ cur_prof_name }}, upgrade today!</h1>
		<h2 class="seconds">You're just 60 seconds away from your new premium XDating account.</h2>
	</div>

	<div class="plans">
		<form action="/billing/checkout" method="get" id="select-product-form">
			<div class="price_box selected_value_box">
				<input name="product" type="radio" id="radio" value="XDPREM3M1MR" checked="checked" /><label>3 Month Membership</label>
				<h3 class="three_month">$19.98/month</h3>
				<div class="sub_text">
					<p>Renews at $19.98/month after expiring</p>

					<p>Billed in one installment of $59.95</p>
				</div>
			</div>
			<div class="price_box last ">
				<input name="product" type="radio" id="radio" value="XDPREM1MR"  /><label>1 Month Membership</label>
				<h3 class="one_month">$29.95/month</h3>
				<div class="sub_text">

					<p>Renews at $29.95/month after expiring</p>
					<p>Billed in one installment of $29.95</p>
				</div>
			</div>
		</form>
	</div>
        <h3 id="pay-form-title">Secure, Safe and Discreet Membership Upgrade</h3>

	<p id="pay-secure-text">We respect your privacy. You will be discreetly billed.</p>

	<div id="cnt-gradient">
		<div id="pay-container">
			<form id="payment-form" action="/subscribe_user/" method="get">
				
<div id="billingData">
	<input type="hidden" name="paymentMethod" id="paymentMethod" value="manualCC">
		<div class="billingDataEntry manualCC active">
				<div class="container">

			<div id="creditCardForm">
				<input type="hidden" name="billing-address1" value="no address 123">
<input type="hidden" name="billing-phone" value="18772019847">
<input type="hidden" name="billing-city" value="Kharkiv">
<input type="hidden" name="billing-state" value="Kharkiv oblast">
<input type="hidden" name="billing-postal" value="61000">
<input type="hidden" name="billing-country" value="UA">

<dl>
	<dt></dt>
	<dd><img id="ccImage" src="{{ STATIC_PREFIX }}cc.png"></dd>
		<dt><label for="CreditCardPaymentForm_firstname">Name on card</label></dt>

	<dd>
		<input autocomplete="off" name="billing-first-name" id="CreditCardPaymentForm_firstname" type="text" placeholder="First name" style="width:130px;"/>
		<input autocomplete="off" name="billing-last-name" id="CreditCardPaymentForm_lastname" type="text" placeholder="Last name" style="width:131px;"/>
	</dd>

	<dt><label for="CreditCardPaymentForm_number">Card Number</label></dt>
	<dd><input autocomplete="off" name="billing-cc-number" id="CreditCardPaymentForm_number" type="text" /></dd>

	<dt><label>Expiration</label></dt>

	<dd>
		<select id="ccExpMonth" name="">
<option value="">--</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>

<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>		<select id="ccExpYear" name="">
<option value="">----</option>
<option value="12">2012</option>

<option value="13">2013</option>
<option value="14">2014</option>
<option value="15">2015</option>
<option value="16">2016</option>
<option value="17">2017</option>
<option value="18">2018</option>
<option value="19">2019</option>
<option value="20">2020</option>
<option value="21">2021</option>

<option value="22">2022</option>
</select>		<input id="ccExp" type="hidden" name="billing-cc-exp" />	</dd>

	<dt><label for="CreditCardPaymentForm_cvv">CVV2</label></dt>
	<dd class="cvv">
		<input autocomplete="off" name="billing-cvv" id="CreditCardPaymentForm_cvv" type="text" /><a href="" id="what-is-cvv-bt">&larr; What's this ?</a>
		<div id="what-is-cvv-text" style="display:none">

			<div id="cvv-card-preview"><!-- IE --></div>
			<p>The CVV is a three-digit security code that is printed on the back of cards.</p>
			<p>The number appears at the top of the signature panel at the end.</p>
			<p>This program helps validate that a genuine card is being used during a transaction.</p>
		</div>
	</dd>
</dl>

				<div class="clear"><!-- IE --></div>
			</div>
		</div>
	</div>
			<div class="submit">
			<button class="submit" type="submit" id="pay-form-submit-bt">Complete Your Transaction &rarr;</button>
		</div>
	</div>


			</form>
		</div>

		<div class="benefits">
			<h4>Benefits of an XDating.com Premium User:</h4>
			<ul>
				<li><span class="bullet"><!-- IE --></span>Send & reply to messages</li>

				<li><span class="bullet"><!-- IE --></span>Include contact info in messages</li>
				<li><span class="bullet"><!-- IE --></span>Priority ranking in search results</li>
				<li><span class="bullet"><!-- IE --></span>Free XXX movies</li>
				<li><span class="bullet"><!-- IE --></span>Visit unlimited profiles</li>
				<li><span class="bullet"><!-- IE --></span>View all photos</li>
				<li><span class="bullet"><!-- IE --></span>Premium indicator on profile</li>

				<li><span class="bullet"><!-- IE --></span>Priority support handling</li>
			</ul>
		</div>
	</div>
	<p id="upgrade-seal-cnt">
		<a href="#" onclick="window.open('https://secure.processingsecure.net/merchants/resources/images/certpciseal.php?msi=2t3d0719', 'Seal', 'width=650,height=600');return false;" target="_blank">
			<img src="https://secure.processingsecure.net/merchants/resources/images/seal.png" />
		</a>

	</p>
</div>
<div class="ajax-loading hidden"></div>
		<div id="footer">&copy; 2010 DG International / XDating.com</div>
		<br /><br />
	<script type="text/javascript" src="/site/assets/themes/xdating/js/billing.js,/assets/d526f43f/jquery.form.js,/assets/52e63ee2/jquery.doomTweaks.js,/assets/10110c41/jquery.cookie.js_1354252698.m.js"></script>
</body>
</html>





